.login {
  width: 400px;
  padding: 50px;
  border: 1px solid #dedede;
  margin: 50px auto;
}

.title {
  text-align: center !important;
  font-weight: bold !important;
  margin-bottom: 30px !important;
}

.field {
  margin-bottom: 20px !important;
}

.check {
  display: flex;
  margin-bottom: 10px;
}

.text {
  margin-top: 12px;
}

@media (max-width: 768px) {
  .login {
    width: 200px;
  }
  .field {
    min-width: 150px;
  }
  .login div {
    min-width: 150px;
  }
}